.bg-my-black {
    background-color: #0C0B0B !important;
}

.bg-partner-pass {
    background-color: #153633 !important;
}

.bg-elite-pass {
    background-color: #821218 !important;
}

.bg-premium-pass {
    background-color: #424141 !important;
}

.bg-light-partner-pass:hover {
    background-color: #125B50 !important;
}

.bg-light-elite-pass:hover {
    background-color: #E8424A !important;
}

.bg-light-premium-pass:hover {
    background-color: #1a1d1c !important;
}

.border-my-black {
    border-color: #0C0B0B !important;
}

.border-partner-pass {
    border-color: #153633 !important;
}

.border-elite-pass {
    border-color: #821218 !important;
}

.border-premium-pass {
    border-color: #424141 !important;
}

.color-my-black {
    color: #0C0B0B !important;
}

.bg-card {
    background-color: #F5F5F7 !important;
}

.font-openSans-extrabold {
    font-family: 'Open Sans Extrabold' !important;
}

.font-openSans-light {
    font-family: 'Open Sans Light' !important;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.border-my-black {
    border-color: #0C0B0B !important;
}

.border-partner-pass {
    border-color: #153633 !important;
}

.border-elite-pass {
    border-color: #821218 !important;
}

.border-premium-pass {
    border-color: #424141 !important;
}

.color-black-icon > svg {
    color: black;
}

.box-shadow-side {
    box-shadow: 0 25px 50px -12px !important;
}

/* 
body {
	background: linear-gradient(-45deg, #ee7752, #f6c59c, #1e1e1f, #f3c142);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
 */
