.bg-my-black {
    background-color: #0C0B0B !important;
}

.bg-my-yellow {
    background-color: #f3c142 !important;
}

.bg-partner-pass {
    background-color: #153633 !important;
}

.bg-elite-pass {
    background-color: #821218 !important;
}

.bg-premium-pass {
    background-color: #424141 !important;
}

.bg-light-partner-pass:hover {
    background-color: #125B50 !important;
}

.bg-light-elite-pass:hover {
    background-color: #E8424A !important;
}

.bg-light-premium-pass:hover {
    background-color: #1a1d1c !important;
}

.border-my-black {
    border-color: #0C0B0B !important;
}

.border-partner-pass {
    border-color: #153633 !important;
}

.border-elite-pass {
    border-color: #821218 !important;
}

.border-premium-pass {
    border-color: #424141 !important;
}

.color-my-black {
    color: #0C0B0B !important;
}

.bg-card {
    background-color: transparent !important;
}

.font-openSans-extrabold {
    font-family: 'Open Sans Extrabold' !important;
}

.font-openSans-light {
    font-family: 'Open Sans Light' !important;
}

.font-openSans-sanserif {
    font-family: "open sans",sans-serif;
}

.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.border-my-yellow {
    border-color: #f3c142 !important;
}

.border-partner-pass {
    border-color: #153633 !important;
}

.border-elite-pass {
    border-color: #821218 !important;
}

.border-premium-pass {
    border-color: #424141 !important;
}

.color-black-icon>svg {
    color: black;
}

.box-shadow-side {
    box-shadow: 0 25px 50px -12px !important;
}


body {
    background: #1e1e1f !important;
    /* background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(30,30,31,1) 100%); */
    /* background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 8, 5, 1) 50%, rgba(30, 30, 31, 1) 100%); */
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bg-color-gradient {
    background: rgb(243, 193, 66);
    background: radial-gradient(circle, rgba(243, 193, 66, 1) 0%, rgba(0, 8, 5, 1) 82%, rgba(0, 8, 5, 1) 83%, rgba(0, 0, 0, 1) 100%);

}

.colore-titoli {
    color: white !important;
}

.svg-black {
    color: black !important;
}

.text-partner-shadow {
    text-shadow: 0 0 15px aqua;
}

.text-elite-premium-shadow {
    text-shadow: 0 0 15px white;
}