.w-620px {
    width: 750px;
}

.line-57p {
    line-height: 57px !important;
}

.line-102p {
    line-height: 102px !important;
}

.mt-22px {
    margin-top: 22px !important;
}

.arrow-button>path {
    color: #0C0B0B !important;
}

.mt-10n {
    margin-top: -10px !important;
}

.left-650 {
    left: 650px !important;
}

.top-40n {
    top: -40px !important;
}

.w-340 {
    width: 340px !important;
}

.l-20p {
    left: 20% !important
}

@font-face {
    font-family: "Open Sans Light";
    src: url("/public/fonts/OpenSans-Light/OpenSans-Light.eot?") format("eot"),
        url("/public/fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"),
        url("/public/fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"),
        url("/public/fonts/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Extrabold";
    src: url("/public/fonts/OpenSans-Extrabold/OpenSans-ExtraBold.eot?") format("eot"),
        url("/public/fonts/OpenSans-Extrabold/OpenSans-ExtraBold.woff") format("woff"),
        url("/public/fonts/OpenSans-Extrabold/OpenSans-ExtraBold.ttf") format("truetype"),
        url("/public/fonts/OpenSans-Extrabold/OpenSans-ExtraBold.svg#OpenSans-Extrabold") format("svg");
    font-weight: normal;
    font-style: normal;
}