.color-dark-member-pass {
    color: #956b08 !important;
}

.color-dark-partner-pass {
    color: #153633 !important;
}

.color-dark-elite-pass {
    color: #821218 !important;
}

.color-member-pass {
    color: #f8b413 !important;
}

.color-partner-pass {
    color: #125b50 !important;
}

.color-elite-pass {
    color: #e9424a !important;
}

.bg-color-disable {
    background-color: #a6a6a6 !important;
}

.info-button:hover, .info-button:visited, .info-button:active{
    background-color: transparent !important;
}

.info-button:focus, .info-button:focus-visible, .info-button:focus-within{
    color: transparent !important;
}