.color-dark-partner-pass {
    color: #153633 !important;
}

.color-dark-elite-pass {
    color: #821218 !important;
}

.color-dark-premium-pass {
    color: #424141 !important;
}

.color-partner-pass {
    color: #153633 !important;
}

.color-elite-pass {
    color: #821218 !important;
}

.color-premium-pass {
    color: #424141 !important;
}

.bg-color-disable {
    background-color: #a6a6a6 !important;
}

.info-button:hover, .info-button:visited, .info-button:active{
    background-color: transparent !important;
}

.info-button:focus, .info-button:focus-visible, .info-button:focus-within{
    color: transparent !important;
}