.color-dark-partner-pass {
    color: #153633 !important;
}

.color-dark-elite-pass {
    color: #821218 !important;
}

.color-dark-premium-pass {
    color: #424141 !important;
}

.color-partner-pass {
    color: #125B50 !important;
}

.color-elite-pass {
    color: #E8424A !important;
}

.color-premium-pass {
    color: #1a1d1c !important;
}

.color-label-input-partner-pass > label {
    color: #153633 !important;
}

.color-label-input-elite-pass > label {
    color: #821218 !important;
}

.color-label-input-premium-pass > label {
    color: #424141 !important;
}

.bg-color-disable {
    background-color: #a6a6a6 !important;
}

.info-button:hover, .info-button:visited, .info-button:active{
    background-color: transparent !important;
}

.info-button:focus, .info-button:focus-visible, .info-button:focus-within{
    color: transparent !important;
}